

footer {
    background: #224483;
    min-height: 245px;
    color: #bdbdbd;
    padding-bottom: 40px;
}


.portfolio-page .section-1,
.about-us-page .section-1 {
background: linear-gradient(180deg, #4a2f50 0%, #224483 100%);
}

.navbar-default .navbar-nav a:hover {
  background: none;
  color: #f1604b !important;
}

.navbar-default .navbar-nav > .active > a {
  background: none;
  color: #0c86e3;
}

.panel-default.collapse-header.dark {
  color: white;
  background: #4a2f50 ;
}

footer .nav-menu-item .nav-title {
    color: #fff;
    
}
/* This is for the Contact Us Button */
.navbar-default .get-in-touch:hover {
  background-color: #224483;
}

.login-btn-cu {
    margin-left: 10px !important; /* Adjust the value as needed */
}

.logout-btn-cu {
    margin-left: 10px !important; /* Adjust the value as needed */
    background-color:olivedrab;
}

.navbar-nav .nav-active {
    color: #f1604b !important;
}

.view-profile{
  padding-left: 80px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.avatar {
    width: 52px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height to maintain the aspect ratio */
    border-radius: 100%; /* Make the image circular */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    
}
.container.top-menu-wrp {
  width:90%;
}
 .nav-btns-rght {
  display: inline-flex;
  align-items: baseline;
}
 .nav-btns-rght {
  align-items: flex-end;
} 

/* Styles for avatar and dropdown */ 
img#profileImg.avatar {
    margin-left: 25px;
}

    .dropdown-toggle .username {
        margin-right: 10px;
    }
    .dropdown-menu {
        min-width: 160px;
    }
    .dropdown-menu li a {
        padding: 10px 25px;
        display: block;
    }
    .slide-in ul {
    padding-left: 0px !important; 
    margin-left: auto;
}

.fxss{
    position: absolute;

}
.mobPofile#text{
    margin-left: 100px;

}

#collapseProfile ul, #collapseProfile li {
    list-style: none;
}
#collapseProfile .panel-collapse-title a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #333;
    width: 100%;
}
.mobIconr{
    /*padding-left: 170px;*/
    position: absolute;
}
.text-mobIconr{
    padding-left: 25px;
    margin-top: 10px;
}
.mobIconrLogout{
    position: absolute;
}
.text-fullName{
   padding-left: 70px;
    position: absolute;
    margin-top: 15px;
}
}

/* This is for the Login Button and the Contact Button in Mobile View */
/* Style for the last child */
.popup-menu .navbar-nav>li:last-child>a:hover {
    background-color: #e93636 !important;
}
.popup-menu .navbar-nav>li:last-child>a {
    max-width: 350px; !important;
}

/* Style for the second-to-last child */
.popup-menu .navbar-nav>li:nth-last-child(2)>a {
    text-align: center;
    background-color: #7280c5;
    border-radius: 25px;
    color: #fff;
    margin-top: 40px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 350px;
}

/* Style for the second-to-last child */
.popup-menu .navbar-nav>li:nth-last-child(2)>a:hover {
    background-color: #5866a9 !important;
}

/*Reduce the User full name div height*/
.mobrehight{
    
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
}